{
"useTabs": true,
 "tabWidth": 4,
 "semi": true,
 "singleQuote": false,
 "bracketSpacing": true,
 "arrowParens": "avoid",
 "vueIndentScriptAndStyle": false,
 "endOfLine": "lf",
 "printWidth": 200,
 "trailingComma": "none"
}

