@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-image {
	width: 100%;

	@media only screen and (max-width: 1920px) {
		width: 350px;
		height: auto;
	}

	@media only screen and (max-width: 1200px) {
		width: 250px;
		height: auto;
	}
}

.contact-image {
	@media only screen and (max-width: 1070px) {
		width: 0px;
	}
}

.adbout-image {
	@media only screen and (max-width: 1600px) {
		width: 0px;
	}
}

.admin {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test {
	width: 700px;
	height: 400px; /* or any size appropriate for your design */
	position: relative; /* Required for the Image with `fill` prop */
}

.ImageWrap {
	position: relative;
	width: 100%;
	max-width: 700px;
	aspect-ratio: 70/45;
}
